{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Palomo Soluções <br />
    Rua do Uruguaio, 1337<br />
    <abbr title="Telefone">Tel:+55 11 99666-1525</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@palomosolutions.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@palomosolutions.com">Marketing@example.com</a>
</address>

{% endblock %}
